@charset "UTF-8";

h1 {
    font-family: Arial, Helvetica, sans-serif ;
    color: #3F71F4;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #000044;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 