@charset "UTF-8";

h1 {
    text-align: center;
    background-color: #000044;
    font-family: Arial, Helvetica, sans-serif ;
    color: #acc4ff;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #000044;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    font-size: 12pt;
}
 aaaaaaaaaaaaaa